{% extends "base.html" %}
{% block content %}
<body>
  <div class="flex flex-col items-center justify-center min-h-screen py-2 bg-gray-100 sm:px-6 lg:px-8">
    <div class="text-4xl font-extrabold text-blue-500 mb-6">
      Edit Profile
    </div>
    <!-- <div class="flex justify-center"> -->
    
    <div class="w-80 text-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <form method="POST" class="w-full items-center max-w-lg">{% csrf_token %} 
      <div class="flex flex-row">
        <div class="mx-auto">
          <label class="block uppercase tracking-wide">
            学年
          </label>
          <div class="relative">
            <select name="grade_select" class="block appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option value="1" selected>1年</option>
              <option value="2">2年</option>
              <option value="3">3年</option>
              <option value="4">4年</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>

        <div class="mx-auto">
          <label class="block uppercase tracking-wide">
            学期
          </label>
          <div class="relative">
            <select name="semester_select" class="block appearance-none  bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option value="1" selected>前期</option>
              <option value="2">後期</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class='container mx-auto text-center'>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
          変更
        </button>
      </div>
    </form>
    </div>
  <!-- </div> -->
</div>
</body>
{% endblock %}